<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Bonus</title>
</head>
<body>
    <div id="app">
        Wallet Adress: <input type="text" v-model=walletAdress name="walletAdress" placeholder="Enter Your Wallet Adress" required><button @click="a">click</button>
        <br>
        <br>
        Transaction Hash: <input type="text" name=transactionHash placeholder="Enter Your Transaction Hash" required>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="js\transaction-bonus-script.js"></script>
</body>
</html>